#top {
	transition: width 1s, height 1s, transform 1s ease-in;
}
#top:hover {
	width: 600px;
	height:900px;
	transform: rotate(360deg);
}
//以上兩個是讓圖片旋轉變大
#toptext {
	color:red;
}
#but{
	color:green;
	font-size:16px;
	width:100px;
	height:100px;
	background-color:yellow;
}
//以上是設定按鈕造型